@import "compass/css3/transform";

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@mixin biome($name, $color) {
  &.biome-#{$name} {
    .cell {
      background-color: $color;
      border-color: darken($color, 40%);

      &.selected { background-color: darken($color, 15%) }
      &.droppable { background-color: lighten($color, 15%) }
    }
  }
}

@mixin rarity($name, $color) {
  &.rarity-#{$name} {
    background-color: $color;

    border-color: darken($color, 15%);
  }
}

@mixin animal {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

$small-screen: "(max-width: 767px)";

html {
  position: relative;
  min-height: 100%;
}

$footer-height: 90px;

body {
  @include no-select;
  font-family: Oswald, HelveticaNeue, Helvetica, Arial, sans-serif;

  margin-bottom: $footer-height;
}

.bg-info {
  padding: 10px;
  text-align: center;
  margin: 5px 0;
}

footer#footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: #f5f5f5;

  .text-muted {
    margin: 20px 0;
  }
}

.zoo-grid {
  position: relative;
  display: inline-block;

  @include biome(farm, #4d9623);
  @include biome(outback, #a9774b);
  @include biome(savanna, #b79e3c);
  @include biome(northern, #4b6f3b);
  @include biome(polar, #5e8e94);
  @include biome(jungle, #34753e);
  @include biome(jurassic, #754331);
  @include biome(ice-age, #a1b8ac);
  @include biome(city, #626668);
  @include biome(mountain, #6e8780);
  @include biome(moon, #726b68);
  @include biome(mars, #c66a5a);

  .drop-target-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(230, 230, 230, 0.8);
    transition: 0.1s opacity;

    .title-container {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));

      h2 { margin: 0; }
    }
  }

  border: 2px dashed rgba(0, 0, 0, 0);

  &.droppable {
    transition: 0.1s border-color;
    border-color: #000;

    .drop-target-overlay {
      opacity: 1.0;
    }
  }

  .cell {
    float: left;
    height: 100px;
    width: 100px;
    background-size: 75px;
    background-color: #eee;
    border: 1px solid #555;

    position: relative;

    cursor: pointer;

    @include animal;

    @media #{$small-screen} {
      height: 50px;
      width: 50px;
      background-size: 38px;
    }

    &.selected {
      .text { display: none; }
    }

    img {
      width: 100%;
      padding: 10%;

      position: absolute;
      left: 0;
      top: 0;

      top: 50%;
      @include transform(translateY(-50%));

      display: none;

      &.potential {
        opacity: 0.5;
        padding: 25%;
      }
    }

    $grid-size: 5;

    &:nth-child(#{$grid-size}n+1) { clear: left; }

    &:nth-child(#{$grid-size}n+1) { border-left-width: 2px; }
    &:nth-child(-n+#{$grid-size}) { border-top-width: 2px; }
    &:nth-child(#{$grid-size}n)   { border-right-width: 2px; }
    &:nth-child(n+#{$grid-size * $grid-size - 1}) { border-bottom-width: 2px; }

    &.bux-hint { background-color: #c5ffff; }
    &.best-hint { background-color: #ffd725; }
    &.guaranteed-hint { background-color: lighten(#ffd725, 20%); }
  }
}

.page-header {
  @media #{$small-screen} {
    margin: 10px 0 10px;

    h1 {
      text-align: center;
      margin: 0;
    }
  }
}

#zoo-column {
  text-align: center;
}

#roster-container, #zoo-controls {
  text-align: center;
}

#phantom {
  position: absolute;

  height: 50px;
  width: 50px;

  pointer-events: none;

  > div {
    height: 100%;
    width: 100%;
    background-size: 38px;

    margin-top: -125%;
    margin-left: -50%;

    @include animal;
  }
}

.animal-button {
  height: 100px;
  max-width: 100px;
  background-size: 75px;
  margin: 5px auto;

  border: 1px solid;
  padding: 1px;

  opacity: 0.4;
  .no-touch &:hover { opacity: 0.7; }
  
  .no-touch &.selected, &.selected {
    opacity: 1.0;
    border-width: 2px;
    padding: 0;
  }

  text-transform: uppercase;

  cursor: pointer;

  @include animal;

  @include rarity(common, #acffaa);
  @include rarity(rare, #9fdafd);
  @include rarity(mythical, #ffd5fe);
  @include rarity(bux, #c5ffff);
}