@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 45, ../sass/screen.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 52, ../sass/screen.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: Oswald, HelveticaNeue, Helvetica, Arial, sans-serif;
  margin-bottom: 90px;
}

/* line 59, ../sass/screen.scss */
footer#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
/* line 67, ../sass/screen.scss */
footer#footer .text-muted {
  margin: 20px 0;
}

/* line 72, ../sass/screen.scss */
.zoo-grid {
  background-color: #222;
  padding: 1px 0 0 1px;
  display: inline-block;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-farm .cell {
  background-color: #4d9623;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-farm .cell.selected {
  background-color: #2d5815;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-farm.droppable .cell.droppable {
  background-color: #6ed036;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-outback .cell {
  background-color: #a9774b;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-outback .cell.selected {
  background-color: #745233;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-outback.droppable .cell.droppable {
  background-color: #c59e7c;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-savanna .cell {
  background-color: #b79e3c;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-savanna .cell.selected {
  background-color: #7d6c29;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-savanna.droppable .cell.droppable {
  background-color: #d0bc70;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-northern .cell {
  background-color: #4b6f3b;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-northern .cell.selected {
  background-color: #293d20;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-northern.droppable .cell.droppable {
  background-color: #6da156;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-polar .cell {
  background-color: #5e8e94;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-polar .cell.selected {
  background-color: #406165;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-polar.droppable .cell.droppable {
  background-color: #8ab0b5;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-jungle .cell {
  background-color: #34753e;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-jungle .cell.selected {
  background-color: #1c4022;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-jungle.droppable .cell.droppable {
  background-color: #4caa5a;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-jurassic .cell {
  background-color: #754331;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-jurassic .cell.selected {
  background-color: #3f241a;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-jurassic.droppable .cell.droppable {
  background-color: #ab6248;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-ice-age .cell {
  background-color: #a1b8ac;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-ice-age .cell.selected {
  background-color: #759786;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-ice-age.droppable .cell.droppable {
  background-color: #cdd9d2;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-city .cell {
  background-color: #626668;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-city .cell.selected {
  background-color: #3d3f41;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-city.droppable .cell.droppable {
  background-color: #888c8f;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-moon .cell {
  background-color: #726b68;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-moon .cell.selected {
  background-color: #4a4544;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-moon.droppable .cell.droppable {
  background-color: #98918e;
}
/* line 5, ../sass/screen.scss */
.zoo-grid.biome-mars .cell {
  background-color: #c66a5a;
}
/* line 8, ../sass/screen.scss */
.zoo-grid.biome-mars .cell.selected {
  background-color: #9d4636;
}
/* line 12, ../sass/screen.scss */
.zoo-grid.biome-mars.droppable .cell.droppable {
  background-color: #da9d93;
}
/* line 89, ../sass/screen.scss */
.zoo-grid .cell {
  float: left;
  height: 100px;
  width: 100px;
  background-size: 75px;
  background-color: #eee;
  margin: 0 1px 1px 0;
  border: 1px outset rgba(128, 128, 128, 0.5);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  /* line 89, ../sass/screen.scss */
  .zoo-grid .cell {
    height: 50px;
    width: 50px;
    background-size: 38px;
  }
}
/* line 108, ../sass/screen.scss */
.zoo-grid .cell:nth-child(5n+1) {
  clear: left;
}
/* line 110, ../sass/screen.scss */
.zoo-grid .cell.selected {
  border: 1px solid rgba(64, 64, 64, 0.5);
}
/* line 112, ../sass/screen.scss */
.zoo-grid .cell.bux-hint {
  background-color: #c5ffff;
}
/* line 113, ../sass/screen.scss */
.zoo-grid .cell.best-hint {
  background-color: #ffd725;
}
/* line 114, ../sass/screen.scss */
.zoo-grid .cell.guaranteed-hint {
  background-color: #ffea8b;
}

@media (max-width: 767px) {
  /* line 118, ../sass/screen.scss */
  .page-header {
    margin: 10px 0 10px;
  }
  /* line 122, ../sass/screen.scss */
  .page-header h1 {
    text-align: center;
    margin: 0;
  }
}

/* line 129, ../sass/screen.scss */
#zoo-column {
  text-align: center;
}

/* line 133, ../sass/screen.scss */
#roster-container, #zoo-controls {
  text-align: center;
}

/* line 137, ../sass/screen.scss */
#phantom {
  position: absolute;
  height: 50px;
  width: 50px;
}
/* line 143, ../sass/screen.scss */
#phantom > div {
  height: 100%;
  width: 100%;
  background-size: 38px;
  margin-top: -125%;
  margin-left: -50%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 155, ../sass/screen.scss */
.animal-button {
  height: 100px;
  max-width: 100px;
  background-size: 75px;
  margin: 5px auto;
  border: 1px solid;
  padding: 1px;
  opacity: 0.4;
  text-transform: uppercase;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 165, ../sass/screen.scss */
.no-touch .animal-button:hover {
  opacity: 0.7;
}
/* line 167, ../sass/screen.scss */
.no-touch .animal-button.selected, .animal-button.selected {
  opacity: 1.0;
  border-width: 2px;
  padding: 0;
}
/* line 20, ../sass/screen.scss */
.animal-button.rarity-common {
  background-color: #acffaa;
  border-color: #61ff5d;
}
/* line 20, ../sass/screen.scss */
.animal-button.rarity-rare {
  background-color: #9fdafd;
  border-color: #54bdfb;
}
/* line 20, ../sass/screen.scss */
.animal-button.rarity-mythical {
  background-color: #ffd5fe;
  border-color: #ff89fc;
}
/* line 20, ../sass/screen.scss */
.animal-button.rarity-bux {
  background-color: #c5ffff;
  border-color: #78ffff;
}
